[Unit]
Description=ipshaman
After=network.target auditd.service

[Service]
Type=simple
User=ipshaman
Group=ipshaman
ExecStart=/usr/bin/python3.8 /opt/ipshaman-server/server.py
KillMode=process

[Install]
WantedBy=multi-user.target
